{% extends "admin/base.html" %}
{% load i18n %}
{% block extrahead %}
<link type="text/css" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.20.custom.css" rel="stylesheet" />
<link type="text/css" href="{{ STATIC_URL }}css/report-graph/graph-report.css" rel="stylesheet" />
 <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
 <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.20.custom.min.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/jqplot/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jqplot/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jqplot/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
<link rel="stylesheet" type="text/css" hrf="{{ STATIC_URL }}css/jqplot/jquery.jqplot.min.css" />
<script>
     $(function() {
         $('.dateentry').datepicker({ dateFormat: "yy-mm-dd" });
       });
 </script>
<script>
    $(document).ready(function(){
    var line1 = [ {% for datapoint in fname %}
                        [
                        {% for key, value in datapoint.items %}
                                '{{ value }}',
                        {% endfor %}
                        ], 
                {% endfor %}
                ];

  var plot1 = $.jqplot('graphdata', [line1], {
    title:'SMS Report',
    axes:{
        xaxis:{
                renderer:$.jqplot.DateAxisRenderer,
                tickRenderer: $.jqplot.CanvasAxisTickRenderer,
                tickOptions: {
                    angle: -30
                }
        },
        yaxis: { autoscale:true, 
                 tickOptions: {
                     formatString: '%d'
                 },
                 tickInterval:1,
            } 
        },
    series:[{lineWidth:2, }]
});
});
</script>

{% endblock %}

{% block title %}{{ title }} | {% trans 'man admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Contman administration' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
{% block coltype %}flex{% endblock %}
{% block content %}
<h1>Activity log</h1>
<div class="module">
    {{ form.non_field_errors }}
    <form action="." method="POST">
        {% csrf_token %}
        <table>
            <tr>
            {% for field in form %}
                <td> 
                    {{ field.errors }}
                    <td>{{ field.label_tag }}</td><td>{{ field }}</td>
                </td>
            {% endfor %}
            <td>
                <p><input type="submit" value="Submit"></p>
            </td>
        </tr>

    </table> 
    </form>
</div>
<div id="report"> 
    <h1>Results</h1>
    <div id="textdata"> 
    <table class="reportitem">
        <th>Date</th><th>SMS Count</th>
        {% for datapoint in fname %}
        <tr>
            {% for key, value in datapoint.items %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table> 
</div>
    <div class="reportitem">
    <div id="graphdata">
    </div>
    <div>
</div>
{% endblock %}
